/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  animation: bgAnimation 5s infinite alternate; /* Fallback */
  height: 100vh;
  display: flex;
  flex-direction: column; /* Arrange child elements vertically */
  justify-content: space-between; /* Space between content and footer */
}

/* Navbar styling */
.navbar {
  background-color: black;
  opacity: 0.5;
  transition: background-color 1s ease, opacity 1s ease;
}

.navbar:hover {
  background-color: black; /* Solid black */
  opacity: 1; /* Fully opaque */
}

/* Content styling */
.content {
  display: flex;
  flex-direction: column; /* Arrange content vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Full viewport height */
  padding: 0 20px;
  text-align: center;
}

.content h1 {
  font-size: 3em;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.content p {
  font-size: 2.0em;
  color: red;
  margin-top: 10px;
}

/* Footer Styling */
footer {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

footer .col-md-4 {
  display: flex;
  align-items: center;
}

footer .nav a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  transition: color 0.3s ease;
}

footer .nav a:hover {
  color: #ccc;
}
